{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href={% static "scc/style.css" %}>
</head>
<body>
    <div class="container">

        <h1>Регистрация</h1>

        <!-- Форма для заказчика -->
        <form action="здесь_указать_обработчик_заказчика.php" method="post">
            <div class="form-group">
                <label for="customer-name">Имя</label>
                <input type="text" id="customer-name" name="customer-name">
            </div>
            <div class="form-group">
                <label for="customer-email">Email</label>
                <input type="email" id="customer-email" name="customer-email">
            </div>
            <div class="form-group">
                <label for="customer-password">Пароль</label>
                <input type="password" id="customer-password" name="customer-password">
            </div>
            <input type="submit" value="Зарегистрироваться как заказчик">
        </form>

        <!-- Форма для исполнителя -->
        <form action="здесь_указать_обработчик_исполнителя.php" method="post">
            <div class="form-group">
                <label for="executor-name">Имя</label>
                <input type="text" id="executor-name" name="executor-name">
            </div>
            <div class="form-group">
                <label for="executor-email">Email</label>
                <input type="email" id="executor-email" name="executor-email">
            </div>
            <div class="form-group">
                <label for="executor-password">Пароль</label>
                <input type="password" id="executor-password" name="executor-password">
            </div>
            <input type="submit" value="Зарегистрироваться как исполнитель">
        </form>
    </div>
</body>
</html>