input,
textarea,
select {
    font-family: Trebuchet MS;
    height: auto;
    font-size: 14px;
    line-height: 0.5;
    padding: 12px 16px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-style: italic;
}

input,
textarea {
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 14px;
}

textarea {
    width: 100%;
    height: 150px;
}

select {
    width: 100%;
}

label {
    font-family: Trebuchet MS;
    display: block;
    margin-bottom: 12px;
}

button {
    font-family: Trebuchet MS;
    display: inline-block;
    padding: 12px 24px;
    height: auto;
    margin: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #00000033;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #3e8e41;
}

p,
h2 {
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}