{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body style="background-color: #252525" height="100%">
    <header class="header">
        <p class="header-text">Впервые на нашем сайте?</p>
        <p class="header-text">Пройдите авторизацию.</p>
    </header>
    <div class="container">
        <div class="left-side">
            <form class="customer-form">
            <h2>Регистрация заказчика</h2>
                <center>
                    <input  type="text" placeholder="Имя">
                    <input type="text" placeholder="Фамилия">
                    <input type="email" placeholder="Email">
                    <div>
                        <button>Отправить</button>
                    </div>
                </center>
            </form>
        </div>
        <div class="right-side">
            <form class="executor-form">
                <h2>Регистрация исполнителя</h2>
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Фамилия">
                <input type="email" placeholder="Email">
                <button>Отправить</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="footer">
            <p class="footer-text">Create &copy; MNevekin 2024</p>
        </div>
    </footer>
</body>
</html>